.navbar {
  display: flex;
  background: linear-gradient(rgba(141, 139, 139, 0.7), rgba(223, 217, 217, 0));
  height: 4em;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  background-color:rgba(245, 157, 172, 0.747);

  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
    width: 100%;
  
}




.navbar ul {
  display: flex;
  list-style: none;
  width: 90vw;
  margin: 0;
  height: 3em;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}

.navbar li a {
  text-decoration: none;
  margin: 0 1em;
  color: white;
  transition: 0.5s;
}

.navbar li a:hover {
  background: transparent;
  color: black;
  transition: 0.5s;
}
